<header class="lg:flex hidden justify-center items-center px-3 py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex-row gap-x-10 opacity-80 flex">
        <a href="#">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#about">Sobre mi</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>