<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full w-6 h-6"
         src="https://media.licdn.com/dms/image/D4E03AQHaXw1zyWkMqQ/profile-displayphoto-shrink_800_800/0/1679060605937?e=2147483647&v=beta&t=nTs70Q0F4d_15y-tPsH7fEvS4jqZI2JcjkH9PQ7fH3s"
         alt="robertdev photo"/>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>