<header class="flex justify-center items-center px-3 lg:py-5 pt-5 w-full xl:max-w-[1120px] mx-auto">
    <nav class="flex-row text-xs md:text-base gap-x-5 md:gap-x-10 opacity-80 flex">
        <a href="#">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about">About me</a>
        <a href="#contact">Contact</a>
    </nav>
</header>