<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full size-12"
         src="https://media.licdn.com/dms/image/D4E03AQHaXw1zyWkMqQ/profile-displayphoto-shrink_800_800/0/1679060605937?e=2147483647&v=beta&t=nTs70Q0F4d_15y-tPsH7fEvS4jqZI2JcjkH9PQ7fH3s"
         alt="robertdev photo"/>
    <nav class="flex flex-row gap-x-10 opacity-80 invisible lg:visible">
        <a href="#">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#about">Sobre mi</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>